<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node.js upload images</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <style>
        .image{
            height: 200px;
            width: auto;
            object-fit: cover;
            
        }
    </style>
  </head>
  <body>
    <div class="container">

        <div class="section">
          <h4>Titolo</h4>
            <table>
<% for(var i=0; i < images.length; i++) { %>
   <tr>
     <td>id: <%= images[i].id %></td>
     <!-- <td>img: <img src= <%= images[i].name %></td> -->
     <td>lat: <%= images[i].latitude %></td>
     <td>long: <%= images[i].longitude %></td>
    <td><img class="image"src="<%=images[i].name %>"/></td>
   </tr>
<% } %>
</table>

    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>

      


    </script>
  </body>
</html>
